/*@import "src/styles/bootstrap/functions.scss";
@import "src/styles/bootstrap/variables.scss";*/

.patients-filter-table {
  max-width: calc(100% - 2em);
  border-collapse: separate;
  border-spacing: 0 var(--general-padding);
  margin-top: var(--minus-general-padding);
  position: relative;
  margin-left: 2rem;
  padding-right: 2rem;
}

tr {
  position: relative;
  background-color: var(--panel-color);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.actions {
  position: absolute;
  white-space: nowrap;
  padding: 0;
  border-top: 0;
  margin-top: 1.2em;
}

.big-add-button {
  background: linear-gradient(90deg,
    #961ef1,
    #ae30e2,
    #d146d8,
    #e758c0,
    #ee5dbc) !important;
  color: #fff;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  font-size: 2em;
  border-radius: 50%;
  height: 2em;
  width: 2em;
  margin-left: 2rem;
}
