<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card my-5">
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" [formGroup]="pacientForm">
            <app-back-button></app-back-button>

            <app-text-input [type]="'number'"
                            [label]="'Id'"
                            [name]="'id'"
                            [model]="pacient.id"
                            [controlName]="'id'"
                            [group]="pacientForm">
            </app-text-input>

            <app-text-input [label]="'Name'"
                            [name]="'name'"
                            [model]="pacient.name"
                            [controlName]="'name'"
                            [group]="pacientForm">
            </app-text-input>

            <app-text-input [type]="'number'"
                            [label]="'Age'"
                            [name]="'pula'"
                            [model]="pacient.age"
                            [controlName]="'age'"
                            [group]="pacientForm">
            </app-text-input>

            <!--<app-checkbox-single-value [label]="'Gender'"
                                       [options]=genderOptions
                                       [(selectedValue)]=selectedGender>
            </app-checkbox-single-value>-->

            <app-checkbox-single-value [label]="'Smoking'"
                                       [options]=smokinkgStatusOptions
                                       [(selectedValue)]=selectedSmokingStatus>
            </app-checkbox-single-value>

            <app-dropdown-selector [label]="'Smoking Years'"
                            [name]="'smokingYears'"
                            [group]="pacientForm"
                            [controlName]="'smokingYears'">
              <option [value]="''">Years</option>
              <option [value]="smokingYears"
                      *ngFor="let smokingYears of smokingYearsOptions">
                {{smokingYears}}
              </option>
            </app-dropdown-selector>

            <app-date-picker [label]="'Date created'"
                             [format]="dateTimeFormat"
                             [group]="pacientForm"
                             [controlName]="'dateCreated'">
            </app-date-picker>

            <app-file-input [label]="'Sex'"
                            [name]="'pacientFile'"
                            [group]="pacientForm"
                            [controlName]="'pacientFile'">
            </app-file-input>

            selectedSmokingStatus = {{ selectedSmokingStatus }}

            <button [promiseBtn]="submitPromise"
                    class="btn btn-info">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
