.navbar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;;

  .btn {
    background: #fefeff;
  }
}

.navbar-header>*+* {
  margin-right: 1em;
}

.navbar-brand>img {
  width: 80px;
  height: 80px;
}

.company-name {
  font-weight: bold;
  font-size: 1.5em;
  vertical-align: middle;
  margin-left: 0.5em;
}

.search-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 0 5%;

  i {
    vertical-align: middle;
  }

  input {
    margin-left: 1em;
    padding: 0.5em;
    flex-grow: 1;
    border: none;
    border-bottom: solid 1px #999999;
  }
}

.big-add-button {
  background: linear-gradient(90deg,
    #961ef1,
    #ae30e2,
    #d146d8,
    #e758c0,
    #ee5dbc) !important;
  color: #fff;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  font-size: 2em;
  border-radius: 50%;
  height: 2em;
  width: 2em;
}

.dropdown-menu a {
  cursor: pointer;
}
